<div class="container-fluid dashboard-content" #datatable id="content">
    <div class="page-header">
        <h2>Violations </h2>
    </div>

    <!-- ============================================================== -->
    <!-- INPUTS -->
    <!-- ============================================================== -->
    <div class="row mx-auto col-12 mt-3 mb-3">
        <div class="col-xl-3 col-sm-6 col-lg-2 col-xs-6 col-md-3">
            <div class="dl-date-time-picker">
                <div class="input-group" (click)="openDatePicker($event)">

                    <input type="text" [showCustomRangeLabel]="true" ngxDaterangepickerMd #datepicker [ranges]="ranges"  [timePicker]="true" placeholder="Select Date" [(ngModel)]="selectedMoments" required
                       id="dateInput" class="form-control"  />

                    <div class="input-group-append" >

                        <button class="btn default ngx-daterangepicker-action" (click)="openDatePicker($event)" type="button">
                            <fa-icon  icon="calendar"></fa-icon>
                        </button>
                    </div>

                </div>


            </div>


        </div>

        <div class="col-xl-2 col-lg-2 col-xs-6 col-sm-6 col-md-3">
            <ng-multiselect-dropdown [placeholder]="'Violation Type'" [settings]="dropdownSettings2"
                (onDeSelect)="onViolationTypeDeSelect($event)" [data]="violationTypeList|async"
                [(ngModel)]="selectedViolation" (onSelect)="onViolationTypeSelect($event)">
            </ng-multiselect-dropdown>
        </div>

        <div class="col-xl-2 col-sm-6 col-lg-2 col-xs-6 col-md-3 mb-3 float-start">
            <ng-multiselect-dropdown [placeholder]="'Camera'" [settings]="dropdownSettings"
                (onDeSelect)="onCameraIdDeSelect($event)" [data]="dropdownList|async"
                [(ngModel)]="selectedItems" (onSelect)="onCameraIdSelect($event)">
            </ng-multiselect-dropdown>
        </div>


        <div class="col-xl-5 col-sm-6 col-lg-2 col-xs-6 col-md-3">
            <button class="btn default text-white me-2" style="width:80px" (click)="Submit()" style="width:80px"
                [disabled]="(selectedMoments.startDate===null || selectedMoments.endDate===null)"><span *ngIf="!loading">Submit</span>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            </button>&nbsp;
      


        <!-- <div class="col-2">
            <ng-multiselect-dropdown [placeholder]="'select the Plant'" [settings]="dropdownSettings"
            [data]="plantData|async" [(ngModel)]="selectedPlant" (onSelect)="onPlantSelect($event)">
        </ng-multiselect-dropdown>
        </div>
        <div class="col-2">
            <ng-multiselect-dropdown [placeholder]="'select the Area'" [settings]="dropdownSettings"
            [data]="areaData|async" [(ngModel)]="selectedArea" (onSelect)="onAreaSelect($event)">
        </ng-multiselect-dropdown>
        </div> -->

            <button type="submit" class="btn default text-white ms-2 me-2" (click)="submitForm()"
                [disabled]="!(selectedMoments.startDate!=null || selectedMoments.endDate!=null)||excelLoad">
                <fa-icon icon="download" class="ms-1 me-1" style="cursor: pointer;" *ngIf="!excelLoad"></fa-icon>
                <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"
                    *ngIf="excelLoad"></span> Excel
            </button>&nbsp;&nbsp;

            <!-- <button  type="button"  class="btn default" (click)="downloadPdf()" ><span *ngIf="!pdfService.pdfLoader"><fa-icon icon="download" class="mr-2"></fa-icon></span><span *ngIf="pdfService.pdfLoader" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>pdf</button> -->

            <!-- <button type="button" class="btn default ms-1">Reset</button> -->
            <!-- <button class="btn me-2" (click)="alertToggle()">
                <fa-icon icon="bell" *ngIf="!alert" class="text-white me-1" ></fa-icon>
                <fa-icon icon="bell-slash" *ngIf="alert" class="text-white me-1" ></fa-icon>

            </button>&nbsp;
            <button class="btn me-2" (click)="volumeToggle()">
                <fa-icon icon="volume-up" *ngIf="audioOff" class="text-white me-1" ></fa-icon>
                <fa-icon icon="volume-off" *ngIf="!audioOff" class="text-white me-1" ></fa-icon>

            </button>&nbsp; -->

            <!-- <div class="col-xl-2 co mel-sm-4 col-lg-4 col-xs-4 col-md-4 mb-3"> -->
            <button class="btn default text-white ms-2 me-2" *ngIf="isdatewise || isLatest" (click)="BackToToday()"
                style="width:100px">
                <fa-icon icon="chart-area" *ngIf="!loader2" class="text-white me-2"></fa-icon>
                <span *ngIf="!loader2">&nbsp; Live &nbsp;</span>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loader2"></span>
            </button>
        </div>

        <!-- <button class="btn default" (click)="settings()" placement="bottom" ngbTooltip="Settings">
                <fa-icon icon="cog" class="text-white me-1"></fa-icon>
            </button> &nbsp; -->
        <!-- </div> -->
    </div>


    <!-- ============================================================== -->
    <!-- END OF INPUTS -->
    <!-- ============================================================== -->



    <!-- <div class="row">
        <div class="col-12">
            <div class="card filters">
                <div class="card-header">Filters</div>
                <div class="row p-3">
                    <div class="col-2">
                        <ng-multiselect-dropdown [placeholder]="'violation type'" [settings]="dropdownSettings2"
                            (onDeSelect)="onViolationTypeDeSelect($event)" [data]="violationTypeList|async"
                            [(ngModel)]="selectedViolation" (onSelect)="onViolationTypeSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-2">
                        <ng-multiselect-dropdown [placeholder]="'select the Plant'" [settings]="dropdownSettings"
                            [data]="plantData|async" [(ngModel)]="selectedPlant" (onSelect)="onPlantSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-2">
                        <ng-multiselect-dropdown [placeholder]="'select the Area'" [settings]="dropdownSettings"
                            [data]="areaData|async" [(ngModel)]="selectedArea" (onSelect)="onAreaSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-2">
                        <ng-multiselect-dropdown [placeholder]="'select the panel'" [settings]="dropdownSettings"
                            [data]="panelData|async" [(ngModel)]="selectedPanel" (onSelect)="onAreaSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-2">
                        <ng-multiselect-dropdown [placeholder]="'violation type'" [settings]="dropdownSettings2"
                            (onDeSelect)="onViolationTypeDeSelect($event)" [data]="violationTypeList|async"
                            [(ngModel)]="selectedViolation" (onSelect)="onViolationTypeSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-xl-2 col-sm-6 col-lg-2 col-xs-6 col-md-4 mb-3 float-start">
                        <ng-multiselect-dropdown [placeholder]="'select the camera'" [settings]="dropdownSettings"
                            (onDeSelect)="onCameraIdDeSelect($event)" [data]="dropdownList|async"
                            [(ngModel)]="selectedItems" (onSelect)="onCameraIdSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- DATA TABLE -->


    <!-- ============================================================== -->



    <div class="row">

        <div class="col-12">

            <div class="card" id="dataTable">

                <div class="card-header">
                    <!-- Violation Data -->

                    <button class="btn default me-2 float-start" (click)="alertToggle()" style="width:7%"
                        placement="bottom" [ngbTooltip]="alert?'notification on':'notification off'">
                        <fa-icon icon="bell" *ngIf="alert" class="text-white me-1"></fa-icon>
                        <fa-icon icon="bell-slash" *ngIf="!alert" class="text-white me-1"></fa-icon>

                    </button>&nbsp;
                    <button class="btn default float-start me-2" (click)="volumeToggle()" style="width:7%"
                        placement="bottom" [ngbTooltip]="audioOff ?'mute':'unmute'">
                        <fa-icon icon="volume-up" *ngIf="!audioOff" class="text-white me-1"></fa-icon>
                        <fa-icon icon="volume-off" *ngIf="audioOff" class="text-white me-1"></fa-icon>

                    </button>&nbsp;
                    <!-- <button class="btn default" (click)="hooterTesting()" >Hooter Testing</button> -->

                    <!-- <h3 class="mb-2 float-start mx-auto" style="margin-left: auto ;margin-right:auto;">Violation Data</h3> -->

                    <!-- <button class="btn float-end" type="button"  *ngIf="!isdatewise"> -->
                    <span class="float-end" *ngIf="!(isdatewise || isLatest)"> <span
                            class="spinner-grow spinner-grow-sm me-2 text-danger" role="status"
                            aria-hidden="true"></span>Live</span>

                    <!-- </button> -->


                </div>
                <div class="mt-3 mb-2">
                    <div class="form-group">

                        <div class="">

                            <!-- <div class="col-xl-2 col-sm-6 col-lg-2 col-xs-6 col-md-4 mb-3 float-start">
                            <ng-multiselect-dropdown [placeholder]="'violation type'" [settings]="dropdownSettings2"
                                (onDeSelect)="onViolationTypeDeSelect($event)" [data]="violationTypeList|async"
                                [(ngModel)]="selectedViolation" (onSelect)="onViolationTypeSelect($event)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-xl-2 col-sm-6 col-lg-2 col-xs-6 col-md-4 mb-3 float-start">
                            <ng-multiselect-dropdown [placeholder]="'select the camera'" [settings]="dropdownSettings"
                                (onDeSelect)="onCameraIdDeSelect($event)" [data]="dropdownList|async"
                                [(ngModel)]="selectedItems" (onSelect)="onCameraIdSelect($event)">
                            </ng-multiselect-dropdown>
                        </div> -->
                            <button *ngIf="!isdatewise" (click)=getLatestData()
                                class="btn default ms-3 text-white float-start">
                                <span class="spinner-border spinner-border-sm me-2 ms-1" role="status"
                                    aria-hidden="true" *ngIf="loaderLatest"></span>
                                <fa-icon icon="filter" *ngIf="!loaderLatest" class="ms-1 me-2 text-white"
                                    style="cursor: pointer;"></fa-icon>Latest
                            </button>

                        </div>

                        <span class="float-start ms-2 mt-2 me-2"></span>


                        <!-- <span class="form-inline mb-2 float-start">
                            <span class="input-group"><span class="ms-1 mt-2 input-group-append input-group-text"
                                    style="height: 36px;">
                                    <fa-icon icon="search" class="font-custome"></fa-icon>
                                </span><input type="text" class="form-control mt-2" [formControl]="filterOut"
                                    placeholder="Search by camera name"></span></span> -->
                        <span class="d-flex justify-content-end p-1"> <span class="mr-2 mt-2" *ngIf="isdatewise" ><b>Show:</b></span>
                            <!-- <select class="custom-select col-2" *ngIf="!isdatewise" style="width: auto"
                                [(ngModel)]="pageSize" (ngModelChange)="sliceVD()">
                                <option [ngValue]=show1>{{show1}} items per page</option>
                                <option [ngValue]=show2>{{show2}} items per page</option>
                                <option [ngValue]=show3>{{show3}} items per page</option>
                            </select> -->
                            <select class="custom-select col-2" *ngIf="isdatewise" style="width: auto"
                                [(ngModel)]="pageSize" (ngModelChange)="sliceVD()">
                                <option ngValue=40>30 items per page</option>
                                <!-- <option [ngValue]=show2>{{show2}} items per page</option>
                                <option [ngValue]=show3>{{show3}} items per page</option> -->
                            </select>
                        </span>
                    </div>

                </div>
                <div class="">

                    <table class="table" style="width:100%;overflow: auto;">
                        <thead style="text-align: center;">
                            <tr>
                                <th scope="col"><b>S No</b></th>
                                <th scope="col"><b>
                                        <fa-icon icon="image" class="font-custome me-1"></fa-icon>Image
                                    </b></th>
                                <th scope="col"><b>
                                        <!-- <fa-icon icon="camera-retro" class="font-custome me-1"></fa-icon> -->
                                        Violation Type
                                    </b></th>
                                <th scope="col"><b>
                                        <fa-icon icon="camera-retro" class="font-custome me-1"></fa-icon>Camera Name
                                    </b></th>
                                <!-- <th scope="col"><b>
                                         <fa-icon icon="laptop" class="font-custome me-1"></fa-icon>Device Name
                                    </b></th> -->

                                <th scope="col"><b>
                                        <fa-icon icon="clock" class="font-custome me-1"></fa-icon>Detected Time
                                    </b></th>
                                <!-- <th scope="col"><b>
                                    <fa-icon icon="clock" class="font-custome me-1"></fa-icon>Exit Time
                                </b></th> -->




                            </tr>
                        </thead>

                        <tbody>



                            <tr *ngFor="let d of violData|async;let i=index" style="text-align: center;">
                                <td>{{d.SNo}}</td>
                                <td>
                                    <!-- <single-canvas [canvas]="d"></single-canvas> -->

                                    <img [src]="API+'/image/'+d.imagename[0]" class="image" (click)="imageCarousal(d)">
                                    <br />

                                    <button class="btn mt-2" (click)="imageCarousal(d)">&nbsp;&nbsp; <fa-icon
                                            icon="images" class="mr-1"></fa-icon> More Images &nbsp;&nbsp;</button>
                                    &nbsp;<button class="btn default text-white mt-2"
                                        (click)="downloadImage(API+'/image/'+d.imagename)"> Download Image
                                        <fa-icon icon="download" class="ms-1 me-1" style="cursor: pointer;"></fa-icon>
                                    </button>
                                </td>
                                <td>
                                    <h4>{{d.analyticstype}}</h4>
                                    <div *ngIf="d.analyticstype ==='PPE'||d.analyticstype ==='RA'">
                                        <div *ngFor="let object of d.object_data;let in=index" class="border-bottom">

                                            <div>
                                                <div class="mb-3"> {{object.violation_count}}</div>
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <div *ngFor="let key of objectKeys(object);">
                                                            <!--
                                       <div class="form-check form-switch d-inline-flex p-2">
                                        <label class="form-check-label text-muted float-end" for="flexSwitchCheckDefault">
                                            
                                        </label>
                                        <input class="form-check-input float-start" type="checkbox" click="return false"  id="flexSwitchCheckDefault" ng-readonly />
                                    </div> -->
                                                            <!-- <label class="toggle">
                                        <span class="toggle-label">{{key}} </span>
                                        <input class="ms-3 toggle-checkbox" type="checkbox" [checked]="object[key]">
                                        <div class="toggle-switch"></div>
                                        
                                      </label> -->
                                                            <div class="items"
                                                                *ngIf="(key==='Helmet'?object[key]==='none'?false:object[key]===false?true:false:key==='Vest'?object[key]==='no_vest'?true:false:false)">
                                                                <input id="item1" type="checkbox"
                                                                    [checked]="key==='Vest'?object[key]=='arc_jacket'?true:false:object[key]">
                                                                <label for="item1">{{key}}</label>
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <ngb-highlight [result]="d.camera_name?d.camera_name:'null'"
                                        [term]="filterOut.value">
                                    </ngb-highlight>
                                </td>
                                <!-- <td>
                                    <ngb-highlight [result]="d.deviceid" [term]="filterOut.value"></ngb-highlight>
                                </td> -->
                                <!-- <td>
                                <ngb-highlight [result]="d.roi_violation_name" [term]="filterOut.value">
                                </ngb-highlight>
                            </td> -->
                                <!-- <td>
                                <ngb-highlight [result]="d.camerName" [term]="filterOut.value"></ngb-highlight>
                            </td> -->
                                <td>
                                    <ngb-highlight [result]="d.timestamp" [term]="filterOut.value">
                                    </ngb-highlight>
                                </td>


                            </tr>
                        </tbody>



                    </table>

                    <div class="d-flex mx-auto justify-content-center p-1">
                        <ngb-pagination [collectionSize]="total|async" [(page)]="page" [pageSize]="pageSize"
                            style="width: 95vw;overflow-x: auto;" (pageChange)="sliceVD()">
                        </ngb-pagination>

                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- ============================================================== -->
    <!-- END OF DATA TABLE -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- POP UP FOR violation image -->
    <!-- ============================================================== -->
    <!-- <ng-template #image let-modal>
            <div class="">
                <div class="modal-header">

                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">



                            <div>
                                <lib-ngx-image-zoom [thumbImage]=imageUrl zoomMode="click" [fullImage]=imageUrl
                                    [magnification]="1" [enableScrollZoom]="true">
                                </lib-ngx-image-zoom>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </ng-template> -->

    <!-- ============================================================== -->
    <!-- END OF POPO UP -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- POP UP FOR  VIOLATION -->
    <!-- ============================================================== -->

    <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->


    <div style="display: none;">
        <div class="col-12">
            <div #dangerAlert>

                <div class="mb-0"
                    style="border: 2px solid rgba(121, 20, 20, 0.699);background-color:rgba(214, 148, 148, 0.459);">
                    <div class="modal-header" style="text-align: center;color:rgba(121, 20, 20, 0.699);">
                        <h3 class="text-danger mb-2">Violation</h3>
                        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    </div>

                    <div class="modal-body" *ngIf="currentViol">
                        <div class="row">

                            <div class="col-12 mb-3">
                                <img [src]="API+'/image/'+currentViol.imagename" alt="" class="violImage" width="100%"
                                    >
                            </div>
                            <div class="col-xl-12 col-md-12 col-lg-12 col-xs-12 text-dark">
                                <!-- <h5><b> <span></span> ID : </b>
                                    <span class="text-muted">{{currentViol.cameraid ?currentViol.cameraid:0}}</span>
                                </h5> -->
                                <h5><span class="text-muted"> Camera Name :</span> 
                                    <b><span class="text-dark">{{currentViol.camera_name
                                        ?currentViol.camera_name:'null'}}</span></b>
                                </h5>
                                <!-- <h5><b> Device Name : </b>
                                    <span class="text-dark">{{currentViol.deviceid?currentViol.deviceid:'--'}}</span>
                                </h5> -->

                                <h5><span class="text-muted"> Detected Time : </span>
                                    <b><span class="text-dark">{{currentViol.timestamp?currentViol.timestamp:'--'}}</span></b>
                                </h5>



                            </div>


                        </div>
                    </div>
                </div>

            </div>


            <!-- ============================================================== -->
            <!-- END OF POP UP -->
            <!-- ============================================================== -->

        </div>

        <!-- <div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;" *ngIf="imageObject">
        <ng-image-slider #nav
          [images]="imageObject"
          [infinite]="false"
          [autoSlide]="1"
          [imageSize]="{width: '25%', height: 200}"
          slideImage="1"></ng-image-slider>
      </div> -->



        <!-----------------------------------MODAL TEMPLATE FOR EXCEL DOWNLOAD------------------------------------------------------------>
        <ng-template #selectfile let-modal>
            <!-- <div class="row"><div class="col-md-12 col-xl-12 col-lg-12 col-xs-12"> -->
            <div class="modal-header">
                <h4 class="modal-title">Download Excel</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-auto" style="text-align: center;">
                <div class="">
                    <div class="container">


                        <div class="mb-3">
                            <app-date-time-picker [formControl]="excelFromDate" name="activeEndDate">
                            </app-date-time-picker>
                        </div>
                        <br />
                        <div class="mt-2">
                            <app-date-time-picker [formControl]="excelToDate" name="activeEndDate">
                            </app-date-time-picker>
                        </div>
                        <br />

                        <div class="mt-2">
                            <div class="form-group">
                                <select class="custom-select mt-3" id="location" [formControl]="loc2" #location>
                                    <option value="" hidden>Location </option>
                                    <option value="jsw">JSW</option>


                                </select>

                            </div>
                        </div>
                        <br /><br />
                        <div class="row">
                            <div class="mx-auto">
                                <div class="form-group">
                                    <button type="submit" class="btn default" (click)="submitForm()"
                                        [disabled]="!excelFromDate||!excelToDate||!loc2.valid">
                                        <span class="spinner-border spinner-border-sm me-1" role="status"
                                            aria-hidden="true" *ngIf="excelLoad"></span> Submit
                                    </button>&nbsp;

                                    <button class="default" (click)="OnDownload()" *ngIf="isExcel">
                                        <span *ngIf="!(excelLoader)">
                                            <fa-icon icon="download" class="mr-2"></fa-icon>
                                        </span><span *ngIf="excelLoader" class="spinner-border spinner-border-sm me-2"
                                            role="status" aria-hidden="true"></span>Excel</button>
                                </div><br />
                                <!-- </form> -->
                                <span class="alert alert-danger alert-dismissible fade show mx-auto" *ngIf="isalert"
                                    role="alert">{{ alertmessage}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="default btn-light" (click)="modal.close('Close click')">Close</button>
            </div>
        </ng-template>