.card.analytics .card-body h3{
    /* max-height: 140px; */
    max-width: inherit !important;
    overflow-x:hidden !important;
    text-overflow: clip !important;
    overflow-y: hidden !important;
    
  }

  .canvas-class{
    width: inherit;
    height: inherit;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

  }