<div class="dashboard-content">
    <div class="page-header">
     <h3>PPE violations</h3>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card analytics card-body">
                <h5 class="text-muted">Panel</h5>
                <h4>1</h4>
            </div>
        </div>

        <div class="col-4">
            <div class="card analytics card-body">
                <h5 class="text-muted">Plant</h5>
                <h4>SMS</h4>
            </div>
        </div>

        <div class="col-4">
            <div class="card analytics card-body">
                <h5  class="text-muted">Area</h5>
                <h4>BOF WATER system</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>SI no</th>
                            <th>Cameraname</th>
                            <th>Plant</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
