<div class="">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../../assets/images/logo.png" class="logo" alt="">
        </div>

        <ul class="list-unstyled components">
           
            <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
           
            <!-- <li class="mt-4">
                <a routerLink="/app/ROIViolations" routerLinkActive="active" target="_blank">No man region violations</a>
            </li> -->
            <li class="mt-4">
                <a routerLink="/app/dashboard" routerLinkActive="active" >
                    <!-- <fa-icon icon="exclamation-triangle" class="me-2"></fa-icon> -->
                    <fa-icon icon="home" class="me-2"></fa-icon>

                    Dashboard</a>
            </li>
            <li class="mt-4">
                <a routerLink="/app/violations" routerLinkActive="active" >
                    <!-- <fa-icon icon="exclamation-triangle" class="me-2"></fa-icon> -->
                    <fa-icon icon="list" class="me-2"></fa-icon>

                    Violations</a>
            </li>
            <li class="mt-4">
                <a routerLink="/app/CameraSettings" routerLinkActive="active">
                    <fa-icon icon="cogs" class="me-2"></fa-icon>

                    Camera Settings</a>
            </li>
            <!-- <li>
                <a routerLink="/app/jobsheetUpload" routerLinkActive="active" target="_blank">Job sheet Upload</a>
            </li> -->
            <!-- <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li> -->
            <li class="">

                <a  routerLinkActive="active" (click)="Logout()" class="logout">                <fa-icon icon="arrow-right-from-bracket" class="me-2"></fa-icon>
                   &nbsp;&nbsp; Log Out  &nbsp;&nbsp;</a>
            </li>
          
        </ul>
    </nav>

</div>