<div style="overflow-x: hidden;">
    <div>
     <app-sidebar></app-sidebar>
    </div>
    <main>
     <div class="row">
       <div class="dashboard-wrapper">
           <!-- <header style="height: 6em;">
               <app-header></app-header>
           </header> -->
           <div class="dashboard-content" style="width:100%;">
               <router-outlet></router-outlet>
            </div>
           
       
      </div>
      <nav class="bg-white fixed-bottom" >
        <app-footer></app-footer>
    </nav>
    </div>

    </main>
  
</div>

<!-- </div> -->
